{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h2>New pasta</h2>
  <form class="well form-inline" action="/new/" method="POST">
    {% csrf_token %}
    {{ new_pasta_form }}
    <button type="submit" class="btn btn-primary">Let's get cooking!</button>
  </form>

  <h2>Your pastas</h2>
  {% if not pastas %}
    <h4>It looks like you don't have any pastas yet. Go and make some!</h4>
  {% else %}
      {% for pasta in pastas %}
        {% include "pasta/_small_pasta.html" %}
      {% endfor %}
  {% endif %}
{% endblock %}
