<div class="pull-right">
  <div class="btn-group pull-left">
    <button class="btn btn-primary" id="add-file" title="Add a file">
      <i class="icon-plus icon-white"></i>
    </button>
  </div>

  <div class="btn-group pull-left">
    <button class="btn btn-danger" id="do-revert" title="Revert your changes">
      <i class="icon-remove icon-white"></i>
    </button>

    <button class="btn btn-success" id="do-commit" title="Commit your changes">
      <i class="icon-ok icon-white"></i>
    </button>
  </div>
</div>
