{% extends "base.html" %}

{% load guardian_tags pasta_tags %}

{% block title %}{{ pasta.name }}{% endblock %}

{% block extra-nav %}
  {% get_obj_perms request.user for pasta as "pasta_perms" %}
  {% if "write" in pasta_perms %}
    {% include "pasta/_repo_actions.html" %}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div id="empty-message"></div>

    <div class="span9">
      <div id="pasta-files"></div>
    </div>
    <div class="span3">
    </div>
  </div>
{% endblock %}

{% block extra-script %}
<script src="/static/js/underscore.min.js" type="text/javascript"></script>
<script src="/static/js/backbone.min.js" type="text/javascript"></script>
<script src="/static/js/pasta.js" type="text/javascript"></script>
<script type="text/javascript">
  {% get_obj_perms request.user for pasta as "pasta_perms" %}
  $(function() {
    var pasta = new window.Pasta({{ files|jsonify }});
    var mainView = new window.PastaView({ collection: pasta, permissions: {{ pasta_perms|jsonify }} });
  });
</script>
{% endblock %}

{% block templates %}
<div id="commit-modal" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Committing to: {{ pasta.name }}</h3>
  </div>
  <div class="modal-body">
    <p>Commit message:</p>
    <textarea id="commit-message"></textarea>
  </div>
  <div class="modal-footer">
     <a href="#" class="btn" data-dismiss="modal">Close</a>
     <a href="#" id="actually-commit" class="btn btn-success">Commit!</a>
  </div>
</div>
<script type="text/template" id="pasta-file-template">
  <div class="pasta-file">
    <div class="well form-inline">
      <input type="text" class="input-large pasta-file-name"
             placeholder="File name" value="<%= file.get('path') || '' %>" />
      <button class="btn btn-danger remove-file pull-right" title="Remove this file">
        <i class="icon-trash icon-white"></i>
      </button>
    </div>
    <textarea class="pasta-content"><%= file.get('content') || '' %></textarea>
    <hr />
  </div>
</script>
{% endblock %}
