{% extends "base.html" %}

{% load guardian_tags %}

{% block title %}{{ pasta.name }}{% endblock %}

{% block content %}
  {% get_obj_perms request.user for pasta as "pasta_perms" %}

  <div class="row">
    {% if "write" in pasta_perms %}
      {% include "pasta/_repo_actions.html" %}
    {% endif %}

    {% if not files %}
      {% if "write" in pasta_perms %}
        <h4>There doesn't seem to be anything here. Use the button to the right to add some files <i class="icon-arrow-right"></i></h4>
      {% else %}
        <h4>There's nothing in this Pasta yet. Wait for the owner to add some files.</h4>
      {% endif %}
    {% endif %}


    <div class="span9">
      {% for file in files %}
        {{ file }}
      {% endfor %}
    </div>
    <div class="span9">
    </div>
  </div>
{% endblock %}

{% block extra-script %}
<script src="/static/js/pasta.js" type="text/javascript"></script>
{% endblock %}
